<% provide(:title, 'Home') %>

<div id="splash">
	<div class="container col-md-3 col-md-offset-2">
		<h1>Welcome to <span>Plebbit</span></h1>
		<p>Parempi ku ylis</p>
		<%= link_to "Liity", '#', class: "btn btn-lg btn-primary" %>
	</div>
</div>
