@import "bootstrap-sprockets";
@import "bootstrap";
$body-bg: transparent;
$dark-grey: #222;

@mixin cover-background($img-uri, $background-top:"center", 
	$background-left:"center", 
	$background-attachment:"fixed") 
	{ background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

/* universal */
html{
	height:100%
}

body {
  padding-top: 50px;
  text-align:center;
  height:100%;
}

@media (max-width: 767px) {
  body {
    padding-top: 160px;
  }
}

.container{
	max-width:970px;
}


/* header */

header{
	background:#000;
	color:white;
}

.navbar
{
	margin-bottom:0;
}

#logo{
	float:left;
	color:white;
	font-size:24px;
	font-width:200;
	link-style:none;
	padding:7px;
}

/* footer */

footer{
	background-color: $dark-grey;
	position:fixed;
	bottom:0px;
	width:100%;
	.container{
		p{
			float:left;
			color:white;
			padding-top:40px;
		}
	}
	
}

/* Home page */

#splash{
	padding-top:30px;
	height:100%;
	@include cover-background('Splash.jpeg', 80%, 100%, "scroll");

	h1{
	margin-top:120px;
	margin-bottom:30px;
	font-size:40px;
	line-height:2;
		span{
		color:white;
		font-width:200;
		background: $dark-grey;
		border-radius:5px;
		padding:10px;
		}
	}

	p{
		margin-bottom:60px;
	}

	.btn{
		width:140px;
		font-width:200;
		font-size:28px;
	}
}

/*forms */ 

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.btn{
	margin-bottom:100px;
}

/* error messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}












