@import "bootstrap-sprockets";
@import "bootstrap";
$body-bg: transparent;
$dark-gray: #222;
$light-gray: #f5f5f5;

@mixin cover-background($img-uri, $background-top:"center",
	$background-left:"center",
	$background-attachment:"fixed")
	{ background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* universal */
html{
	height:100%
}

body {
  text-align:center;
  height:100%;
}

@media (max-width: 767px) {
  body {
  }
}

.row{
	margin:0;
}

.container{
	max-width:970px;
}

.wrapper{
	max-height: calc(100% - 50px);
    overflow-y: auto;
    min-height:200px;
}

ol{
	list-style:none;
	padding: 0px;
}

/* header */

header{
	background:white;
	color:black;
	p{
		margin-bottom:20px;
	}
}

.navbar
{
	margin-bottom:0;
}

#logo{
	float:left;
	color:black;
	font-size:24px;
	font-width:200;
	link-style:none;
	padding:7px;
}

/* footer */

footer{
	border-top: 1px solid #f5f5f5;
	position:fixed;
	height:50px;
	bottom:0px;
	width:100%;
	background-color: #002749;
	.container{
		.col-md-3{
			padding:0;
		}
		small{
			float:right;
			padding-top:17px;
			color: #002749 + 50;
		}
	}

}

/* Home page */

#home{
	height:100%;

	h1{
	margin-top:120px;
	margin-bottom:30px;
	font-size:40px;
	line-height:2;
		span{
		color:white;
		font-width:200;
		background: $light-gray;
		border-radius:5px;
		padding:10px;
		}
	}

	p{
		margin-bottom:60px;
	}

	/*.btn{
		width:140px;
		font-width:200;
		font-size:28px;
	}*/
}

/*forms */

input, textarea, select, .uneditable-input {
  /*border: 1px solid #bbb;*/
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.btn{
	margin: 8px 0px;
}

/* error messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;
  }
}

/* b */

/*.btn {
	margin:20px 20px 20px 20px;
}*/

/* topics */

.topics {
  list-style: none;
  padding: 0;
  li {
    padding: 0px;
    border-bottom: 1px solid #f5f5f5;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .timestamp {
    color: $gray;
		text-align: left;
  }
  .row{
  	height: auto;
		margin: 20px 0px 20px 0px;
  }
  .thumbnail {
		margin: 0px;
  	height:180px;
		padding: 0px;
		border: 0px;
  	img {
  		height:180px;
			padding: 1px;
			border: 1px solid #f5f5f5;
  	}
  }
}

.topic_info {
	text-align: left;
}

.topic_title {
	color: gray;
	font-size: 18px;
}

#new_topic {
  	margin-top: 20px;
  	.btn {
  		margin:0;
  	}
		textarea {
			height: 100px;
		}
		#new_title {
			font-size: 18px;
			font-weight: bold;
		}
}



aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* show posts */

.posts{
	li{
		padding: 0px;
		border-bottom: 1px solid #f5f5f5;
	}
	.post-text{
		border: 0px;
		text-align: left;
		padding-top: 20px;
	}
	.timestamp {
    color: $gray;
		text-align: left;
		font-style: italic;
		font-size: 12px;
	}
	#delete_button {
		color: red;
	}
}

.post-text{
	border: 0px;
	text-align: left;
	padding-top: 20px;
}
.timestamp {
	color: $gray;
	text-align: left;
	font-style: italic;
	font-size: 12px;
}
#delete_button {
	color: red;
}

/* modal */

.modal {
	background:white;
	height: 100%;
}
.modal-body {
	height: 85%;
	display: inline-block;
	img {
		height: 100%;
	}
}

/* voting */

.voting{

	width: 75px;
	height: 180px;
	margin-top: 30px;

	.vote * {
		display: inline-block;
	}

	span{
		color:#fff;
	}
	.vote_number {
		position: absolute;;
		left: 25px;
		width: 20px;
		display: inline-block;
		float: left;
		padding-top: 7px;
	}

	.hide_button {
		background: white;
		border: 0px;
		display: inline-block;
		margin: 2px 5px;
		padding: 0px;
	}

	.new_vote {
		display: inline-block;
	}

	.vote {
		margin: 5px 0px;
		height: 30px;
	}
	.new_vote {
		width: 30px;
		height: 30px;
		position: relative;
		bottom: 1px;
		right: 0px;
	}
	.upvoted{
			color:green;
	}

	.downvoted{
			color:red;
	}

}
