<footer class="footer">
	<div class="container">
		<div class="col-md-1">
			<%= link_to "Uusi", new_topic_path, class: "btn btn-primary" %>
		</div>
		<div class="col-md-3 col-md-offset-8">
			<small> &copy Mikko Kärkkäinen 2016 </small>
		</div>
	</div>
</footer>
